@model EncuestasCandidatosv2.Place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NA_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA_Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA_Region)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Place }) |
    @Html.ActionLink("Back to List", "Index")
</p>
